/*Author    : TUAN MUDA MAULA*/
/*Github    : https://github.com/TuanMudaMaulaa*/
/*Instagram : https://instagram.com/me_i_pan*/
/*Website   : https://Tuan Muda Maulaa*/

@media (min-width: 300px) and (max-width: 640px) {
    .ml1 {
        margin-top: 45%;
    }

    .kontener2 {
        padding: 10px;
        text-align: center;
        margin-top: 60%;
    }
}